//-------------------------------------------------
// Common Default Variable SCSS
//-------------------------------------------------

// Font Family
$fontfamily-lato: 'Lato';

// Site main Color
$main-primary-color: #023769;
$main-secondary-color: #72AADC;
$main-site-background: #F2FAFF;

$icon-color-1 : #023769;
$font-color-1 : #023769;
$bg-color-1: #023769;

$hover-icon-color-1: #023769;
$hover-text-color-1: #023769;
$hover-bg-color-1: #023769;

// COLORS
$white: #fff;
$black : #222;
$ccc: #ccc;
$color-777: #777777;
$color-ddd: #DDDDDD;
$color-222021: #222021;
$color-003E76: #003E76;
$bg-color-F2FAFF: #F2FAFF;
$bg-color-F9F9F9: #F9F9F9;

$gray: gray;
$lightgrey: lightgrey;
$main-color: #29C7D2;
$sub-color: #023769;
$blue-bg: #023769;
$theme-main-bg-color: #023769;


// WIDTH & HEIGHT & SIZES
$width-sidebar: 15em;