/*-------------------------------------------------
  Common Style CSS
---------------------------------------------------*/

$theme-main-bg-color: $white;
$main-primary-color: $white;
$text-color: $blue-bg;
$font-family : $fontfamily-lato;

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: #777;
	user-select: none;
   	-webkit-user-select: none;
   	-khtml-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
	font-family: $font-family;
	font-weight: 400;
	top: 0 !important;
	background-color: $theme-main-bg-color;
	overflow-x: hidden;
}
h2 {
	font-size: 48px;
	line-height: 60px;
	font-weight: 400;
}
h2, h3, h4, h5, h6 {
	font-family: $font-family;
	position: relative;
	color: $main-primary-color;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
ul{
	list-style: none;
	li{
		a {
			text-decoration: none;
		}
	}
}
p {
	font-size: 16px;
	color: $text-color;
	line-height: 26px;
}

/**  Section spacing  **/

.sec-p-t {
	padding-top: 50px;
}
.sec-p-b {
	padding-bottom: 50px !important;
}
.sec-p-tb {
	padding: 50px 0;
}
.sec-m-t {
	margin-top: 50px;
}
.sec-m-b {
	margin-bottom: 50px;
}
.sec-m-tb {
	margin: 50px 0;
}
.footer-p-tb {
	padding: 100px 0;
}
.sec-p-tb-100 {
	padding: 100px 0;
}
.sec-p-tb-50 {
	padding: 50px 0;
}
.sec-m-b-100 {
	margin-bottom: 100px;
}
.sec-m-tb-100 {
	margin: 100px 0;
}
.sec-bg-blue {
	background-color: $blue-bg;
}
.mar-t-100 {
	margin-top: 100px;
}
.pad-50 {
	padding: 0 50px;
}
.pad-lr-50 {
	padding: 0 50px;
}


.site-container {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-wrap: wrap;
	overflow: hidden;
	.page-content {
		padding: 10px 20px;
		padding-bottom: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		overflow: auto;
		flex: 1;
		h1 {
			font-size: 20px;
			font-weight: 400;
			color: $black;
		}
	}
}
.main {
	height: calc(100vh - 80px);
	display: flex;
	flex: 1;
	background: $bg-color-F2FAFF;
}

