//-------------------------------------------------
// Common Default Variable SCSS
//-------------------------------------------------

// Font Family
$fontfamily-lato: 'Lato';

// Site main Color
$main-primary-color: #222021;
$main-secondary-color: #222;
$blue-bg: #023769;
$blue-text: #0873B8;
$section-bg: #EFEFEF;
$section-bg-dark-gray: #E9E9E9;
$text-white: #fff;
$white: #fff;
$footer-bg: #221F23;

$text-color : #777;
$text-666 : #666;
$text-dark : #373F51;
$main-text-color : #222021;

$ir-0-color: #000000;
$ir-e2-color: #E2E2E2;
$ir-85-color: #858585;
$ir-4-color: #444444;
$ir-f6-color: #f6f6f6;
$ir-awd-bg-01-color: #D8DADD;
$ir-awd-bg-02-color: #CEE3FF;

$border-radius-30: 30px;
$border-radius-15: 15px;
$border-radius-10: 10px;
$border-radius-5: 5px;
$border-ddd: #ddd;
$trasperent-white: rgba(255, 255, 255, .9);

$header-bg-color: #ffffff;
$border-color-1: #eeeeee;
$border-color-2: #ddd;
$white: #fff;

// Social Site Color
$main-fb-color: #3b5998;
$main-twitter-color: #1da1f2;
$main-instagram-color: #e44a73;
$main-linkedin-color: #0073b2;