/*-------------------------------------------------
 Responsive Style CSS
---------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .page-content {
    width: 100vw;
  }
}
@media only screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .sidebar {
    position: absolute;
    z-index: 8;
  }

  .d-flex {
    display: block !important;
  }

  .header .header-logo .button-menu {
    display: block;
  }

  #progressbar {
    padding: 1rem;
  }
  #progressbar li {
    font-size: 12px;
  }
  #progressbar li::before {
    width: 40px;
    height: 40px;
    line-height: 35px;
  }

  #msform fieldset {
    padding: 0 15px 30px 15px;
  }
  #msform fieldset .info-sec h3 {
    font-size: 22px;
  }
  #msform fieldset .info-sec p {
    font-size: 16px;
  }
  #msform fieldset .radio label span {
    font-size: 16px;
    line-height: 22px;
  }
  #msform .action-button {
    padding: 4px 5px;
    margin-top: 30px;
    width: 100px;
    height: 40px;
  }
  #msform textarea {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .site-container .page-content {
    padding-bottom: 100px;
  }

  .page-content .profile-card .card-form-sec .file-upload.btn-color {
    padding: 4px 5px;
    width: 100px;
    height: 40px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .page-content .profile-card .card-form-sec .second-title {
    margin-top: 25px;
  }
  .page-content .profile-card .card-form-sec .checkbox-sec {
    text-align: center;
    margin: 20px 0;
  }
  .page-content .profile-card .card-form-sec .form-submit-btn {
    margin-top: 20px;
    text-align: center;
  }
  .page-content .profile-card .card-form-sec .form-submit-btn .submit-btn,
.page-content .profile-card .card-form-sec .form-submit-btn .review-btn {
    padding: 4px 5px;
    height: 40px;
    line-height: 24px;
    font-size: 16px;
  }
  .page-content .profile-card .card-form-sec .form-submit-btn .review-btn {
    margin-bottom: 20px;
  }
  .page-content .profile-card .card-form-sec .form-submit-btn .submit-btn {
    margin: 0;
    margin-bottom: 20px;
  }
  .page-content .profile-card .card-form-sec .radio-sec {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 15px;
  }
  .page-content .profile-card .card-form-sec .radio-sec label {
    margin-right: 10px;
    width: 170px;
    line-height: 20px;
  }
  .page-content .profile-card .card-form-sec .radio-sec .upload-file-div {
    margin-left: 10px;
    padding: 5px;
  }
  .page-content .profile-card .card-form-sec .radio-sec .upload-file-div span {
    font-size: 11px;
    margin-right: 5px;
  }
  .page-content .profile-card .card-form-sec .radio-sec .upload-file-div svg {
    width: 15px;
  }
  .page-content .profile-card .card-form-sec .radio-sec .upload-file-div input {
    padding: 5px;
  }

  .page-content .dash-card-sec .about-sec {
    display: block !important;
  }
  .page-content .dash-card-sec .about-sec .left-div {
    margin-bottom: 30px;
  }
  .page-content .dash-card-sec .about-sec .btn {
    margin-top: 15px;
    padding: 5px 10px;
    height: 40px;
    line-height: 28px;
    font-size: 14px;
  }
  .page-content .dash-card-sec .info-btn {
    text-align: center;
  }
  .page-content .dash-card-sec .info-btn .btn {
    padding: 5px 10px;
    height: 40px;
    line-height: 28px;
    font-size: 14px;
  }
  .page-content .dash-card-sec .info-btn .btn-color {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=responsive.css.map */