/*-------------------------------------------------
 Team page Style CSS
---------------------------------------------------*/
.ir-contact-us-pg-head {
	background-image: url('../../assets/img/bg/contact-us-bg.png');
}
.ir-contact-us-sec {
	.ir-contact-us-content {
		.sec-title {
			margin-bottom: 50px;
			width: 100%;
			height: 54px;	
			left: 469px;
			top: 780px;

			h2 {
				text-align: center;
				font-family: 'Lato';
				font-style: normal;
				font-weight: 700;
				color: $main-text-color;
			}
		}
		.sec-map-info {
			height: 415px;
			border-radius: 10px;
    		overflow: hidden;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
		.sec-basic-info {
			padding-top: 30px;
			.basic-info {
				display: flex;
				justify-content: space-between;
				p {
					font-size: 16px;
					color: $text-666;
					line-height: 26px;
					width: 100%;
					text-align: right;
					display: flex;
					justify-content: end;
					span {
						font-weight: 700;
						font-size: 18px;
						line-height: 28px;
						display: flex;
						text-align: right;
						color: $main-text-color;
					}
					.fa {
						width: 18px;
						height: 21px;
						font-size: 18px;
						line-height: 30px;
						color: $blue-bg;
						margin-left: 20px;
					}
				}
				.add {
					align-items: center;
				}
			}
		}

		.sec-form-info {
			.form-group {
				margin-bottom: 30px;
			}
			label {
				margin-bottom: 10px;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;				
				color: $main-text-color;
			}
			input {
				height: 45px;
				padding-right: 0;
				font-weight: 400;
				font-size: 16px;
				line-height: 50px;				
				color: $text-666;
				border-radius: 0;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			textarea {
				padding-right: 0;
				border-radius: 0;
				border-top: 0;
				border-left: 0;
				border-right: 0;	
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			.btn {
				width: 100%;
				height: 50px;
				margin: 0 0 20px 0;
				background: $blue-bg;
				border-radius: 8px;
				color: $white;
				&:hover {
					box-shadow: 0px 10px 24px rgb(2 55 105 / 50%);
				}
			}
		}
		.sec-social-info {
			margin-top: 15px;
			text-align: right;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			a {
				width: 50px;
    			height: 50px;
				margin-left: 15px;
				border: 1px solid #023769;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.fa {
					font-weight: 900;
					font-size: 20px;
					line-height: 23px;
					color: $blue-bg;
				}
			}
		}
	}
}

