/*-------------------------------------------------
 Team page Style CSS
---------------------------------------------------*/
.lx-header-login {
	.lx-header-top {
		position: relative;
	}
}

.lx-login-sec {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	.login-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.form-group {
			.form-control {
				height: 46px;
				width: 422px;
				border-radius: 30px;
				display: grid;
				justify-content: center;
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
				color: #000;
				font-family: $fontfamily-mirage;
				letter-spacing: 0.05rem;
				border-color: #000;
				&:focus {
					border-color: #000;
					box-shadow: none;
					background-color: #fff;
				}
				&::placeholder {
					color: #000000;
				}
			}	
		}
		.lx-login-logo {
			text-align: center;
			margin-bottom: 50px;
			.login_svg {
				height: 114px;
				width: 127px;
			}
		}
		.lx-login-body {
			.lx-login-form {
				display: flex;
				flex-direction: column;
				.form-group {
					margin-bottom: 30px;
				}
				.lx-btn-submit {
					width: 100%;
					height: 48px;
					border-radius: 30px;
					background: $main-primary-color;
					border-color: $main-primary-color;
					font-size: 16px;
					line-height: 20px;
					font-weight: 700;
					font-family: $fontfamily-mirage;
				}
			}
		}
		.lx-login-forgot {
			display: flex;
			justify-content: center;
			.form-control {
				display: flex;
				background: transparent;
				border: none;
				justify-content: space-between;
			}
			.lx-keep-login {
				.form-check-label {
					font-family: $fontfamily-mirage;
					font-size: 16px;
					font-style: normal;
					line-height: 26px;
					letter-spacing: 0em;
					text-align: left; 
					color: $lx-0-color;
					font-weight: 400;
				}
			}
			.lx-forgot {
				font-family: $fontfamily-mirage;
				font-size: 16px;
				font-style: normal;
				line-height: 26px;
				letter-spacing: 0em;
				text-align: left; 
				color: $lx-0-color;
				font-weight: 400;
			}
		}
		.lx-signup-help {
			display: flex;
			justify-content: center;
			.form-control {
				display: flex;
				background: transparent;
				border: none;
				justify-content: space-between;
				a {
					font-family: $fontfamily-mirage;
					font-size: 16px;
					font-style: normal;
					line-height: 20px;
					font-weight: 600;
					letter-spacing: 0em;
					text-align: left;
					color: $lx-0-color;
				}
			}
			.lx-signup {

			}
			.lx-help {

			}
		}
		.lx-store-link {
			.form-control {
				display: flex;
				background: transparent;
				border: none;
				justify-content: space-between;
			}
			.lx-store-btn {
				.lx-store-img {
					width: 169px;
					height: 72px;
				}
			}
		}
	}
}

.lx-footer-sec {
	position: fixed;
	bottom: 10px;
	bottom: 10px;
	width: 100%;
	.lx-footer-container {
		display: flex;
		justify-content: space-between;
		.lx-footer-terms {
			font-family: $fontfamily-mirage;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			text-align: left;
			color: $lx-0-color;	
		}
		.lx-footer-social {
			.lx-social {
				margin: 0 8px;
				svg {
					height: 18px;
					width: 18px;
					path {						
						fill: #626060;
					}
				}
			}
		}
	}
}